.header {
    height: 85vh; 
    background-image: linear-gradient( 
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)), 
        url(../img/hero-small.jpg);
    background-size: cover; /*the width will fit the size of the box*/
    background-position: top;
    position: relative;
    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
        /*clip-path: polygon per dare la forma*/
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
        height: 95vh;

    }
    
    //hero.jpg is shown when the resolution is higher than 192dpi (2x-screen) and the width is bigger than 600px, or bigger than 2000px
    @media  only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),             
            only screen and (min-width: 125em){
                background-image: linear-gradient( 
                to right bottom, 
                rgba($color-primary-light, 0.8), 
                rgba($color-primary-dark, 0.8)), 
                url(../img/hero.jpg);
    }

    @include respond(phone){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh,0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh,0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo{
        height: 3.5rem;
    }

    /* text-box: transform, top, left per centrare la scritta */
    &__text-box{
        position: absolute;
        top: 40%; /*top and left are related to their parent element (header)*/
        left: 50%;
        transform: translate(-50%, -50%); /*in relation to the element itself*/
        text-align: center; /*button treated as if it was text because display:inline-block. you can center the button as if it was text.*/
    }
}